h1, h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin: 10px auto;
}

.temp {
  display: inline-block;
}

button {
  color: #0cf4f5;
  background-color: #5e5746;
  border: none;
  margin-left: 1px;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

footer {
  margin-top: 40px;
  font-size: 1rem;
}

a {
  color: #0cf4f5;
}